[submodule "text_summarizer"]
	path = text_summarizer
	url = https://github.com/TheOphige/text_summarizer.git
[submodule "Image-UPscaler"]
	path = Image-UPscaler
	url = https://github.com/TheOphige/Image-UPscaler.git
[submodule "ProductTube"]
	path = ProductTube
	url = https://github.com/TheOphige/ProductTube.git
[submodule "Digital-Twin"]
	path = Digital-Twin
	url = https://github.com/TheOphige/Digital-Twin.git
[submodule "CourseChat"]
	path = CourseChat
	url = https://github.com/TheOphige/CourseChat.git
[submodule "The-Originals"]
	path = The-Originals
	url = https://github.com/TheOphige/The-Originals.git
[submodule "life-bible-stories"]
	path = life-bible-stories
	url = https://github.com/TheOphige/life-bible-stories.git
[submodule "Orro-Stories"]
	path = Orro-Stories
	url = https://github.com/TheOphige/Orro-Stories.git
[submodule "IWRT-summarizer"]
	path = IWRT-summarizer
	url = https://github.com/TheOphige/IWRT-summarizer.git
[submodule "What_are_they_saying"]
	path = What_are_they_saying
	url = https://github.com/TheOphige/What_are_they_saying.git
